<!DOCTYPE html>
<html>
  <head>
    <title>RFPHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Profile Page", current_user, :class => "" %>
      <%= link_to "Log Out", "/logout", :class => "" %>
    <% else %>
      <%= link_to "Log In", "/login", :class => "" %>
      <%= link_to "Sign Up", "/signup", :class => "" %>
    <% end %>

    <% flash.each do |name, msg| %>
      <p>
        <%= name.capitalize %>: <%= msg %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
